.markerWindow {
    float: left;
    background-color: rgb(234, 234, 234);
    min-height: 200px;
    width: 200px;
    padding: 10px;
    margin-top: 30px;
}

.markerRow {
    height: 35px;
    padding: 5px;
    clear: both;
}

.header {
    font-weight: bold;
    border-bottom: 1px solid #666;
}

.markerRow span {
    width: 50px;
    display: inline-block;
    float: left;
    padding-right: 5px;
}

.markerWindow table {
    border: 1px solid #666;
}

.markerWindow td {
    padding: 5px;
    border: 1px solid #666;
}

.markerWindow .markerRow .marker {
    height: 30px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
}

.marker0 {
    background-color: rgb(102, 250, 147);
}

.marker1 {
    background-color: #FA6693;
}

.marker2 {
    background-color: rgb(102, 147, 250);
}

.marker3 {
    background-color: rgb(102, 54, 147);
}
